.footer{
    background-color: black;
    grid-area: footer;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.footer-content2 a{
    color: orange;
}

